@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css';


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -----Resets----- */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
	margin: 0;
}

ul[role='list'], ol[role='list'] {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
  background-color: #f5f3f1;
}

a, .link-div {
  font-weight: 500;

}
a:hover {
  color: #d17575;
}

.link-div:hover {
  color: #d17575;
  cursor: pointer;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  box-shadow: 0 0px 12px rgb(0 0 0 / 80%);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul li {
  list-style: none;

}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
  padding: 0.5rem 2rem;
  font-size: 18px;
  z-index: 50;
}

header nav ul {
  display: flex;
  gap: 2rem;
}

.header-logo {
  display: flex;
  align-items: center;
  font-family: "Dancing Script";
  font-size: 28px;
  font-weight: 800;
}

.header-logo div {
  line-height: 1;
  color: #dc3c46;
}

.header-logo div :first-child {
  font-size: 22px;
  font-weight: 600;
  color:#795548;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #ebe6e1;
  color:#795548;
}

.footer-main {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-family: "Dancing Script";
  font-size: 28px;
  font-weight: 800;
  color: black;
}
.footer-logo img {
  width: 50px;
}

.footer-logo div {
  line-height: 1;
}
.footer-logo div :first-child {
  font-size: 22px;
  font-weight: 600;
}

.footer-social-links {
  display: flex;
  font-size: 30px;
  gap: 12px;
}

.fa-github {
  color: black;
}

.fa-facebook {
 color: #1877F2; 
}

.fa-linkedin {
  color: #0077B5;
}

.footer-bottom {
  font-size: 14px;
}

.home-background {
  position: relative;
}

.home-background h1 {
  font-family: "Dancing Script";
  font-size: 4.5rem;
  font-weight: 800;
}

.home-background h3 {
  font-family: "Raleway";
  font-size: 1.7rem;
  font-weight: 400;
  margin: 1rem 0;
}

.welcome-btn {
  background-color: #388E3C;
  border-radius: 4px;
  color: white;
  margin: 0;
  margin-right: 2rem;
  padding: 8px 16px;
  font-family: "Raleway";
  font-size: 1rem;
}
.welcome-btn:hover {
  color: rgb(197, 190, 190);
}

.home-background img {
  width: 100%;
  height: 100%;
}

.welcome-message {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.welcome-buttons {
  position: absolute;
  top: 400px;
  left: 3rem;
}

main {
  margin: auto;
  min-height: 70vh;

}

.small-logo {
  width: 30px;
}
.medium-logo {
  width: 60px;
}

.login-page, .register-page {
  margin-top: 4rem;
  width: 100%;
}

.login-form-container, .register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container form, .register-form-container form {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.sign-up, .sign-in {
  display: flex;
  align-items: center;
  gap: 6px;
}

.radio {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.link-button {
  background-color: inherit;
  border: none;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.modal {
  width: 45rem;
  position: absolute;
  max-height: 90vh;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 50%);
  z-index: 30;
  margin-top: 50px;
}

.create-restaurant-modal {
  font-size: 14px;
  padding: 0;
}

.create-restaurant-modal h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  padding: 0.5rem;
  box-shadow: 0 20px 20px -8px rgb(0 0 0 / 10%);
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;

}
.create-form-top {
  display: flex;
  justify-content: space-between;
}

.create-form-left, .create-form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-address, .form-geolocation, .form-contacts, .form-working-hours {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.create-form label {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.create-form input, .create-form textarea {
  width: 200px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 3px;
}

.create-form-pictures {
  margin-top: 8px;
}
#picture-input {
  width: 400px;
}

.create-form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.create-form-buttons button {
  width: 140px;
  margin: 0;
}

.form-cancel-btn, .delete-btn {
  background-color: #D32F2F;
}

.delete-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.delete-modal h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


.restaurant-list-section {
  padding: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.restaurant-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.restaurant-list-item-container h3 {
  padding: 0.5rem;
  color: #795548;
}
.restaurant-list-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 240px;
  height: 350px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}


.restaurant-avatar {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 180px;
  background-color: #eeeded;
}
.restaurant-avatar img {
  width: 100%;
}

.rating {
  width: 240px;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 208, 0);
  padding: 8px ;
  box-shadow: 0 20px 12px -15px rgb(0 0 0 / 10%);
}

.restaurant-info {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  padding: 10px;
  color: #737879
}
.restaurant-info i {
  color: #795548;
}

.restaurant-info div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.restaurant-details {
  padding: 50px;
}
.restaurant-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 360px;
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.restaurant-details-top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

}
.restaurant-details-top-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.restaurant-contact-details {
  display: flex;
  gap: 8px;
  font-size: 14px;
  padding: 10px;
  color: #737879
}
.restaurant-contact-details i {
  color: #D32F2F;
  font-size: 16px;
}


.rating-details i {
  color: rgb(255, 208, 0);
}
.rating-details {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  padding: 8px ;
}

.extras {
  display: flex;
  font-size: 24px;
  gap: 8px;
}

.fa-wifi {
  color: #388E3C
}

.fa-square-parking {
  color: rgb(63, 63, 247)
}

.fa-credit-card {
  color: rgb(112, 7, 7);
}

.restaurant-details-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.restaurant-details-bottom h4 {
  font-size: 14px;
}

.restaurant-details-bottom table {
  width: 100%;
  text-align: center;
}
.restaurant-details-bottom table td:not(:first-of-type) {
  border-left: 1px solid #F57C00;
}

.restaurant-pictures-container {
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
}

.restaurant-photo-container {
  margin: 4px;
  height: 150px;
  border: 1px solid black
}
.restaurant-photo-container img {
  height: 100%;
}

.big-map-container, .dashboard {
  padding: 50px;
}
.big-map {
  width: 100%;
  height: 600px;
}
.restaurant-map-container {
  min-width: 300px;
  width: 600px;
  height: 360px;
}

.restaurant-avatar-map {
  width: 100px;
}

.restaurant-avatar-map img {
  width: 100%;
}

.rating-map {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgb(255, 208, 0);
  padding: 4px ;
  box-shadow: 0 10px 20px -8px rgb(0 0 0 / 20%);
}
.details-map {
  text-align: center;
  padding-top: 8px;
  line-height: 0;
  font-size: 11px;
}
.details-map p {
  margin: 0.5rem;
}
.details-map h4 {
  font-size: 14px;;
}

.popup-map {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.restaurant-details-main {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.popup-info-wrapper {
  display: flex;
}

.restaurant-about-container h2 {
  margin-bottom: 1rem;
}


.restaurant-about-container {
  padding: 2rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard h1 {
  margin-bottom: 2rem;
  font-family: "Dancing Script";
  font-size: 4.5rem;
  font-weight: 800;
}

.my-restaurants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.my-restaurant-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
  padding: 1rem ;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.restaurant-avatar-small {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.restaurant-avatar-small img {
  width: 100%;
}

.edit-btn, .delete-btn {
  margin: 0;
}


.leaflet-container { 
  width: 100%;
  height: 100%;
  border: 1px solid #bbbebe;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.loading-spinner {
  position: absolute;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 50px;
  font-family: "Raleway"
}
.about h1 {
  margin-bottom: 1rem;
  font-family: "Dancing Script";
  font-size: 4.5rem;
  font-weight: 800;
}
.about-container {
  display: flex;
  gap: 2rem;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-image-container {
  width: 100%;
}
.about-image-container img {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #d17575
  }
  button {
    background-color:  #388E3C;
    color: white;
  }
}
